<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gamecenter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.2048">

        <activity
            android:name=".Games.Game2048"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Credentials.Settings"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Games.GamePeg"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Scores.MenuScores"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Games.Menu"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Credentials.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Scores.Game2048Score"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Scores.GamePegScore"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Games.SplashActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Credentials.RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

    </application>
</manifest>